html, body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    COLOR:#666;
    line-height:1.8em;
    font-weight:400;
    font-family:"lato", sans-serif;
    height:100%;
    font-size:16px;
}
.first-section{
    background-image:url(image1.png);
    min-height:100%;
}
.second-section{
    background-image:url(image2.png);
    min-height:400px;
}
.third-section{
    background-image:url(image3.png);
    min-height:400px;
}
.first-section, .second-section,.third-section{
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    background-position:center;
    background-attachment:fixed;
}
.first-text{
    color:black;
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    font-size:27px;
    letter-spacing: 8px;
}
.text{
    background-color:black;
    color:#fff;
}
.text-section{
    background-color:#f4f4f4;
    color:#666;
}
.section{
    padding:50px 80px;
    text-align:center;
}
.text2-section{
    background-color:#282e34;
    color:#ddd;
}
.third-section p{
    font-size:50px;
    color:#fff;
}
.pata-nhi{
    text-align:center;
    position:absolute;
    top:50%;
    width:100%;
}