@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --lighting-color: #0089b7;
    --dark-color: #003d62;
    --darker-color:#003251;
    --secondary-color: #fff700;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
html, body{
    font-family:"poppins" , sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior:smooth;
    color:white;
}
body{
    font-size:1.4rem;
}

/* header */

.container{
    max-width: 1300px;
    margin:0 auto;
}
header{
    background-color: var(--lighting-color);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;
}
a{
    text-decoration: none;
    color:white;
}
nav ul{
    display: flex;
    gap:1rem;
}
nav li{
    border-bottom:0.4rem solid transparent;
    transition: 0.3s ease-in-out;
}
ul{
    list-style: none;
}
nav li:hover{
    border-bottom:0.4rem solid var(--secondary-color);
    transition: 0.3s ease-in-out;
}
.logo{
    font-size:2rem;
    font-weight: 700;
}

/* main section */

#Hero{
    padding:4rem 0;
    background-color: var(--dark-color);
    border-bottom:4px solid var(--lighting-color);
}
#Hero .container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    
}
.hero-content{
    display: grid;
    place-items: center;
}
.hero-content h1{
    font-size:3rem;
    font-weight: bold;

}
.hi-text{
    color:var(--secondary-color);
    font-size:6rem;
    
}
.name-text{
    font-size: 5rem;
}
.hero-content h2{
    font-size:4rem;
    font-weight: bold;


    overflow:hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    margin:0 auto;
    animation: typing 5s steps(40, end),blink-caret 0.75s step-end infinite;
}

@keyframes typing{
    from{
        width:0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink-caret{
    from,
    to{
        border-color:transparent;
    }
    50%{
        border-color:orange;
    }
}

/* projects */

#Projects{
    background-color: var(--darker-color);
}
#Projects h2{
    font-size:6rem ;
    text-align: center;
    padding:2rem 0;
}

.project-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(320px, 1fr));
    gap:2rem;
} 
.grid-item{
    display:grid;
    place-items: center;
}
.card{
    border-radius: 0.5rem;
    width:320px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition:0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.05);
    transition:0.2s ease-in-out;
}
.card:hover img{
    transform: scale(1.05);
    transition:0.2s ease-in-out;
    opacity: 0.8;
}
.card:hover .card-content{
    background: white;
    color:var(--dark-color);
    transform: translateY(0px);
}
.card-content{
    padding:2rem;
    position: relative;
    top:-6.5rem;
    margin-bottom: -6.5rem;
    transition: 0.5s ease-in-out;
    text-align: center;
    transform: translateY(100px);
}

/* footer/contact */

#Contact{
    background: var(--dark-color);
}
#Contact h2{
    font-size: 6rem;
    text-align:center;
    margin:2rem 0;
}
#Contact .container{
    display:flex;
    flex-direction:column;
    height:90vh;
    gap:4rem;
    justify-content: center;
}
.top-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 800px;
    margin:0 auto;
}
.contact-way{
    display: flex;
    gap:1rem;
    align-items: center;
    font-size: 3rem;
}
.bottom-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    max-width: 400px;
    margin:0 auto;
    gap:1rem;
}
footer{
    background: var(--darker-color);
    padding:2rem;
    color:white;
    font-size: 1.6rem;
    text-align: center;
}

/* responsive */

@media (max-width:786px){
   html{
    font-size: 40%;
   }
   #Hero .container{
    flex-direction: column;
}
.hero-img{
    display:grid;
    place-items: center;
}
#Contact .container{

    height:70vh;
}
}
@media (max-width:500px){
    html{
     font-size: 32%;
    }
    #Hero .container{
        flex-direction: column;
    }
    .hero-img{
        display:grid;
        place-items: center;
    }
    #Contact .container{

        height:50vh;
    }
 }